.px-demo-no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

.px-demo-no-transition * {
  -webkit-transition: none !important;
  transition: none !important;
}

.px-demo-brand {
  font-size: 14px !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
}
.px-demo-brand i {
  font-style: normal;
  font-weight: 700;
  color: #007dc5;
  letter-spacing: -.8px;
}
a.px-demo-brand:hover {
  opacity: .8;
  transition: opacity .3s;
}

.px-demo-logo {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 6px;
  margin-top: 2px;
  display: inline-block;
}


.px-demo-logo-1 { background: rgba(255, 255, 255, .25); }
.px-demo-logo-2 { background: rgba(255, 255, 255, .4); }
.px-demo-logo-3 { background: rgba(255, 255, 255, .65); }
.px-demo-logo-4 { background: rgba(255, 255, 255, .6); }
.px-demo-logo-5 { background: rgba(255, 255, 255, .15); }
.px-demo-logo-6 { background: rgba(255, 255, 255, .4); }
.px-demo-logo-7 { background: rgba(255, 255, 255, .3); }
.px-demo-logo-8 { background: rgba(255, 255, 255, .6); }
.px-demo-logo-9 { background: rgba(255, 255, 255, .25); }

/* Large logo */

.px-demo-brand-lg {
  font-size: 17px !important;
}

.px-demo-brand-lg .px-demo-logo {
  width: 24px;
  height: 24px;
}

.px-demo-brand-lg .px-demo-logo-1,
.px-demo-brand-lg .px-demo-logo-2,
.px-demo-brand-lg .px-demo-logo-3,
.px-demo-brand-lg .px-demo-logo-4,
.px-demo-brand-lg .px-demo-logo-5,
.px-demo-brand-lg .px-demo-logo-6,
.px-demo-brand-lg .px-demo-logo-7,
.px-demo-brand-lg .px-demo-logo-8,
.px-demo-brand-lg .px-demo-logo-9 {
  width: 8px;
  height: 8px;
}

/* Error pages */

.page-404-header .px-demo-brand,
.page-500-header .px-demo-brand {
  color: #444;
}

.page-404-header .px-demo-logo,
.page-500-header .px-demo-logo {
  margin-top: 0;
}

.px-demo-bgs {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  z-index: 999999;
  border-top: 2px solid rgba(0, 0, 0, .1);
  border-left: 2px solid rgba(0, 0, 0, .1);
}

.px-demo-bgs-container {
  display: inline-block;
  height: 40px;
  vertical-align: bottom;
}

.px-demo-bgs-container:hover,
.px-demo-bgs-container:focus {
  opacity: .7;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.px-demo-bgs-clear {
  background: #fff;
  line-height: 40px;
  text-align: center;
  width: 60px;
  color: #e97c6f;
  font-size: 20px;
  text-decoration: none !important;
}

.px-demo-bgs-clear:hover,
.px-demo-bgs-clear:focus {
  color: #db5949;
}

.px-demo-bgs-container > img {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

/* Sidebar */

#px-demo-sidebar-toggle {
  border-radius: 3px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  left: -41px;
  display: block;
  position: absolute;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-decoration: none !important;
  text-align: center;
}

#px-demo-sidebar-toggle * {
  border-color: transparent !important;
}

#px-demo-sidebar-toggle,
#px-demo-sidebar-toggle i {
  font-size: 18px;
  line-height: 40px;
}

#px-demo-sidebar-toggle i {
  position: relative;
  top: -1px;
}

#px-demo-sidebar-toggle .ion-android-close { display: none; }
#px-demo-sidebar.open #px-demo-sidebar-toggle .ion-ios-gear { display: none; }
#px-demo-sidebar.open #px-demo-sidebar-toggle .ion-android-close { display: inline-block; }

.px-demo-sidebar-header {
  margin: 0;
  line-height: 40px;
  padding: 0 20px;
}

#px-demo-sidebar label {
  margin: 0;
  cursor: pointer;
  font-weight: 600;
}

#px-demo-sidebar .switcher {
  margin: 0;
  float: right;
}

#px-demo-sidebar .box-row {
  height: 40px;
  vertical-align: middle;
}

#px-demo-sidebar .ps-scrollbar-x-rail,
#px-demo-sidebar .ps-scrollbar-y-rail {
  z-index: 10;
}

#px-demo-sidebar .switcher input:checked ~ .switcher-indicator {
  background: none !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .33) !important;
}

#px-demo-sidebar .custom-select {
  border-color: rgba(0, 0, 0, .08);
}

#px-demo-togglers .box-row + .box-row .box-cell,
#px-demo-sidebar #px-demo-togglers > div + div {
  border-top: 1px solid rgba(0, 0, 0, .1) !important;
}

.px-demo-themes-list {
  position: relative;
  padding-left: 6px;
  padding-bottom: 6px;
}

.px-demo-themes-item {
  width: 111px;
  height: 66px;
  overflow: hidden;
  display: block;
  float: left;
  position: relative;
  margin-top: 6px !important;
  margin-right: 6px !important;
  overflow: hidden;
}

.px-demo-themes-item,
.px-demo-themes-item * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.px-demo-themes-toggler {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.px-demo-themes-thumbnail {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.px-demo-themes-title {
  display: block;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 111px;
  height: 66px;
  color: rgba(255, 255, 255, 0);
  line-height: 66px;
  text-align: center;
}

.px-demo-themes-title > span {
  position: absolute;
  z-index: 10;
  display: block;
  text-align: center;
  padding: 0 6px;
  font-size: 11px;
  width: 111px;
  height: 66px;
  line-height: 66px;
  background: rgba(39, 38, 52, .7);
  top: 0;
  white-space: nowrap;
  transition-property: line-height, height, background, top;
  transition-duration: .1s;
  -webkit-transition-property: line-height, height, background, top;
  -webkit-transition-duration: .1s;
}

.px-demo-themes-item:hover .px-demo-themes-toggler:not(:disabled) ~ .px-demo-themes-title > span {
  line-height: 26px;
  height: 26px;
  background: rgba(0, 0, 0, 1);
  width: auto;
  top: 20px;
  /*@noflip*/ left: 50%;
  -webkit-transform: translate(-50%, 0) scale(1);
      -ms-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
}

.px-demo-themes-title > div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .7;
  z-index: 5;
  display: none;
}

.px-demo-themes-item .px-demo-themes-toggler:checked ~ .px-demo-themes-title > span {
  background: rgba(39, 38, 52, 0) !important;
}

.px-demo-themes-item .px-demo-themes-toggler:checked ~ .px-demo-themes-title > div {
  display: block !important;
}

#px-demo-sidebar-loader {
  position: absolute !important;
  z-index: 1000 !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  display: none;
}
.user {
  background-color: #e6e6e6;
}
.px-navbar-image svg .cls-1 {
  fill: #fff;
}

.px-navbar-image svg .cls-2 {
  fill: #8c8c8c;
  fill-rule: evenodd;
}
.px-content {
  border-top: 1px solid #d6d6d6;
}
.px-nav-item:first-child>a{
  line-height: 43px;
  border-top: 1px solid #313131;
}
.settings {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translate(0,-50%);
  font-size: 18px;
  display: none;
}

.color1,
.color2,
.color3,
.color4,
.color5 {
  border-left: solid 3px;
}
.color1 {
  border-color: #f15e22;
}
.color2 {
  border-color: #11c1ff;
}
.color3 {
  border-color: #16cd79;
}
.color4 {
  border-color: #9a54c2;
}
.color5 {
  border-color: #2e3f50;
}
.px-nav-dropdown-menu .px-nav-item+.px-nav-item>a,
.px-nav-dropdown-menu .px-nav-item:first-child>a{
  border: none;
  height: auto;
}
.px-nav-item:first-child .px-nav-icon {
  margin-right: 7px;
}
.px-nav-dropdown-menu .px-nav-item:first-child {
   margin-top: 9px;
 }
.px-nav-dropdown-menu .px-nav-item:last-child,
.px-nav-dropdown-menu-wrapper {
  margin-bottom: 11px;
 }
.px-nav-dropdown-menu .px-nav-item >a {
  line-height: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.px-nav-dropdown-menu .px-nav-item >a span {
  line-height: 36px;
}
.navbar.px-navbar .dropdown.open>a {
  background-color: #e6e6e6;
  color: #444;
}
.navbar-nav .open .dropdown-menu {
  background-color: #ffffff;
}
.navbar-brand.px-demo-brand {
  word-spacing: -2px;
}
/*=========================================*/
.p-20 {
  padding: 0 20px;
}
.p-18 {
  padding: 0 18px;
}
.panels__item {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  height: 220px;
}
.panels__item h5 {
  padding-top: 11px;
  padding-bottom: 13px;
  margin: 0;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.panels__content {
  padding-top: 15px;
}
.panels__content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.panels__content li {
  line-height: 24px;
  position: relative;
  padding-right: 30px;
  overflow: hidden;
}
.panels__content li.check:after {
  content: "";
  display: block;
  width: 30px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, calc(-50% + 1px));
  background-image: url(../image/check.png);
  background-position: 49% 50%;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.panels__content i {
  letter-spacing: 4.1px;
  padding-left: 9px;
  padding-right: 4px;
}
.info,
.danger{
  display: inline-block;
  padding: 0 10px;
  border-radius: 20px;
  background: #7ebee3;
  line-height: 20px;
  height: 21px;
  font-size: 12px;
  margin-left: 2px;
}
.danger {
  background: #ff6e56;
  padding: 0 12px 0 11px;
}
.info {
  padding: 0 15px 0 14px;
}
.wrap {
  position: absolute;
  padding-right: 8px;
  right: 0;
  top: 3px;
  display: inline-flex;
  justify-content: end;
  flex-flow: row;
  padding-left: 5px;
  background-color: #ffffff;
}
.btn_remove {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-14px, -50%);
  background-image: url(../image/delete.png);
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0) !important;
  border: none;
  height: 12px;
  width: 12px;
  padding: 0;
}
.btn_remove:hover {
  background-color: rgba(0,0,0,0) !important;
}
.panels__content p {
  line-height: 20px;
  margin-top: 2px;
  margin-bottom: 14px;
}
.panels__content a {
  display: block;
  text-decoration: underline;
  color: #007dc5;
  line-height: 24px;
}
@media (min-width: 768px) {
  .user {
    width: 143px;
    border-left: 1px solid #d0d0d0;
    position: relative;
  }
  .list li:nth-child(2) a {
    padding-right: 43px;
  }
  .list li:nth-child(1) a {
    padding-right: 18px;
  }
  .navbar-nav>li>a.user span:after {
    position: absolute;
    top: calc(50% - 1px);
    right: 17px;
    display: block;
    width: 5px;
    height: 5px;
    margin-top: -2px;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(135deg);
    border-width: 1px 1px 0 0;
    border-style: solid;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

}
@media (min-width: 992px) {
  .px-nav:not(.px-nav-expand) .px-nav-content>.px-nav-item>a .px-nav-icon {
    opacity: 0;
    position: relative;
    top: 2px;
  }
  .px-nav:not(.px-nav-expand) .px-nav-content>.px-nav-item:first-child>a .px-nav-icon {
    opacity: 1;
  }
  .settings {
    display: inline;
  }
}

.indicators {

}
.indicators .btn {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 2px;
}
.indicators__tab-title {
  padding: 6px 20px 0 0;
}
.indicators .nav.nav-tabs>li.active>a {
  color: #007dc5;
  border-bottom-color: #007dc5!important;
}
.indicators .tab-content .panel-body {
  height: 70px;
}
.indicators .panel-title {
  padding-right: 15px;
}
.indicators__tab-data {
  position: relative;
  height: 70px;
  padding: 11px 13px;
}
.indicators__tab-info {
  position: absolute;
  bottom: 11px;
  right: 13px;
}
.indicators__icon-title {
  display: flex;
  align-items: center;
}
.indicators__icon-title i {
  margin-right: 15px;
}
.data-checking__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.data-checking__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../image/dot.jpg);
  background-position: left calc(50% + 4px);
  background-repeat: repeat-x;
}
.data-checking__status {
  padding: 1px 0 1px 5px;
  background-color: #fff;
  text-align: right;
}
.data-checking i {
  color: #1fc96f;
}
.justify-align {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.close_large {
  opacity: 1;
  font-size: 21px;
}

#chartdiv {
  width: 100%;
  height: 500px;
  font-size: 11px;
}
#chartdiv .amcharts-chart-div > a {
  display: none !important;
}

@media (max-width: 1200px) {
  .justify-align {
    margin-left: 0;
  }
  .indicators .panel-heading .dropdown,
  .indicators .panel-heading .btn {
    margin: 5px 0;
  }
  .indicators .panel-heading .panel-title,
  .indicators .panel-heading .btn,
  .indicators .panel-heading .dropdown,
  .data-checking__list {
    font-size: 12px;
  }
}
